<nav class="navbar navbar-expand-sm bg-success nevbar-dark">
  <a class="navbar-brand" href="#">
    HelloWorld
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynav">
    <ul class="navbar-nav mr-auto">
      <li class="k-block">
        <button kendoButton [look]="'bare'" [togglable]="true" routerLink="/dashboard">Dashboard</button>        
      </li>
      <li class="k-block">
        <button kendoButton [look]="'bare'" [togglable]="true" routerLink="/about">about</button> 
      </li>
      <li class="k-block">
        <button kendoButton [look]="'bare'" [togglable]="true" routerLink="/projects">Projects</button> 
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search"><i class="fa fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Search"/>
      </div>
      <div class="k-block">
        <button kendoButton [look]="'bare'" [togglable]="true" >Search</button>
      </div>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
